html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

h1 {
    text-align: center;
    color: blueviolet;
}

h2 {
    color: black;
}

a {
    font-size: larger;
}

a:link {
    color: rgb(205, 78, 0);
}

a:visited {
    color: rgb(255, 0, 106);
}

a:hover {
    background-color: rgb(212, 231, 0);
}

a:active {
    background-color: rgb(224, 91, 219);
}

table {
    width: 100%;
    table-layout: fixed;
    border: 3px solid rgb(26, 0, 128);
    text-align: center;
}

.cabecera {
    color: rgb(232, 232, 232);
    background-color: rgb(10, 70, 35);
    padding: 10px;
}

.contenedor {
    margin: 0 auto;

}

.contenido {
    background-color: rgb(171, 226, 194);
    color: rgb(0, 0, 0);
    padding: 10px;
}

.pie {
    background-color: rgb(30, 81, 51);
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    height: 30px;
    font-size: 13px;
}

.enlaces {
    background-color: rgb(21, 93, 51);
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    font-size: 15px;

}